body{
	background-color: gray;

}
#SwitchLang{
	position: fixed;
	top:1pc;
	right:1pc;
}

#vga{
	display: inline;
}
.chartsDesc{
	display:inline;
}
th, td{
	border: 1px solid black;
}